<div class="panel panel-primary" id="loginForm">
    <div class="panel-heading">
        <h3 class="panel-title">Login form</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" {{action 'tasks' on="submit"}}>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                {{input type="text" class="form-control" placeholder="Username" value=username}}
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon">@</span>
                {{input type="password" class="form-control" placeholder="Password" value=password}}
            </div>
            <br />
            <div class="pull-right">
                <button type='submit' class="btn btn-primary">Login</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</div>
{{#link-to 'signup'}}Create an account{{/link-to}}
